
/* Nombre del Colegio - inicial */
.imagen {
  padding: 50px 0px 0px; 
  display: flex;
	height: auto;
  max-width: 100%;
  width: auto;
  }


body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  

/* Fondo inicial */
.jumbotron {
    background-color: #11803c;
    color: #fff;
    padding: 10px 25px;
} 

/*  */
.bg-grey {
    background-color: #f6f6f6;
  }

.container-fluid {
    padding: 60px 50px;
}

.logo {
    font-size: 200px;
}

.logo-small {
    color: #11803c;
    font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color:#11803c;
   }
   .carousel-indicators li {
     border-color: #11803c;
   }
   .carousel-indicators li.active {
     background-color: #11803c;
   }
   .item h4 {
     font-size: 19px;
     line-height: 1.375em;
     font-weight: 400;
     font-style: italic;
     margin: 70px 0;
   }
   .item span {
     font-style: normal;
   }

   .navbar {
    margin-bottom: 0;
    background-color:#11803c;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #11803c !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #11803c;
  }

  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

  /* Imágenes responsive */
.responsive {
  width: 20%;
  height: auto;
}

img {
height: auto;
margin: auto;
display: block;
}

/* .product-photo {
  /* background-color: transparent; */

  /* background-color: white;
  float: left;
  position:relative; */
  /* height: 80px; */
  /* margin-bottom: 5px; */
  /* width: 100px; */


/* .img1 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
}

.img2 {
  position:absolute;
  top:0px;
  left:0px;
}
 */

#img0 {
  display: none;
 }

#img2 {
  display: none;
 }

#img3 {
  display: none;
 }

 #img4 {
  display: none;
 }

 #img5 {
  display: none;
 }

 #img6 {
  display: none;
 }

 #img7 {
  display: none;
 }

 #img8 {
  display: none;
 }

 #img9 {
  display: none;
 }

 #img10 {
  display: none;
 }

 #img11 {
  display: none;
 }

 #img12 {
  display: none;
 }


  /* Diseño de las Tablas */

	
	h2 {font-size:36px;margin:0 0 10px 0}
	p {margin:0 0 10px 0}
	
	table.width200,table.rwd_auto {border:1px solid #ccc;width:100%;margin:0 0 50px 0}
		.width200 th,.rwd_auto th {background:#ccc;padding:5px;text-align:center;}
		.width200 td,.rwd_auto td {border-bottom:1px solid #ccc;padding:5px;text-align:center}
		.width200 tr:last-child td, .rwd_auto tr:last-child td{border:0}
		
	.rwd {width:100%;overflow:auto;}
		.rwd table.rwd_auto {width:auto;min-width:100%}
			.rwd_auto th,.rwd_auto td {white-space: nowrap;}
			
	@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
	{
	
		table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }
		
		.width200 thead tr { position: absolute;top: -9999px;left: -9999px; }
		
		.width200 tr { border: 1px solid #ccc; }
		
		.width200 td { border: none;border-bottom: 1px solid #ccc; position: relative;padding-left: 50%;text-align:left }
		
		.width200 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}
		
		.width200 td:nth-of-type(1):before { content: "Nombre"; }
		.width200 td:nth-of-type(2):before { content: "Apellidos"; }
		.width200 td:nth-of-type(3):before { content: "Cargo"; }
		.width200 td:nth-of-type(4):before { content: "Twitter"; }
		.width200 td:nth-of-type(5):before { content: "ID"; }
		
		.descarto {display:none;}
		.fontsize {font-size:10px}
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-width : 320px) and (max-width : 480px) 
	{
		body { width: 320px; }
		.descarto {display:none;}
	}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-width: 768px) and (max-width: 1024px) 
	{
		body { width: 495px; }
		.descarto {display:none;}
		.fontsize {font-size:10px}
	}  


  


